{
  "payeeCompany":"ACME Company",
  "payeeId":"ACME International Ltd.",
  "payeeReg":"KVK-10293443",
  "payeeAccount":"NL57KNAB34782981891",
  "payeeEmail":"boss@company.acme",
  "payeeStreet":"Fleetstreet 55",
  "payeeZip":"10292",
  "payeeCity":"Gotham City",
  "payeeCountry":"Fantasyland",
  "taxdefault":21,
  "pricedot":",",
  "currency":"EUR"
}
