{
  "payeeCompany":".:: Beryllium Advies",
  "payeeId":"Beryllium Advies",
  "payeeReg":"KVK-72627646",
  "payeeAccount":"NL57KNAB0257764739",
  "payeeEmail":"joachim@sheraga.net",
  "payeeStreet":"Monnetsingel 39",
  "payeeZip":"6716 RA",
  "payeeCity":"Ede",
  "payeeCountry":"The Netherlands",
  "taxdefault":21,
  "pricedot":","
}
